---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import SobreMi from '../components/sections/SobreMi.astro';
import Skills from '../components/sections/Skills.astro';
import Proyectos from '../components/sections/Proyectos.astro';
import Experiencia from '../components/sections/Experiencia.astro';
import Educacion from '../components/sections/Educacion.astro';
import Contacto from '../components/sections/Contacto.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <SobreMi />
    <Skills />
    <Proyectos />
    <Experiencia />
    <Educacion />
    <Contacto />
  </main>
  <Footer />
</Layout>
