---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { class: className, ...rest } = Astro.props;
---

<a
  {...rest}
  class={[
    "relative transition-colors duration-200",
    "hover:text-fp-accent dark:hover:text-fp-daccent",
    "after:content-[''] after:absolute after:left-0 after:-bottom-px",
    "after:w-full after:h-px after:bg-current",
    "after:origin-right after:scale-x-0",
    "after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.2,0.7,0.2,1)]",
    "hover:after:origin-left hover:after:scale-x-100",
    className,
  ]
    .filter(Boolean)
    .join(" ")}
>
  <slot />
</a>
